.service {
    color: white;
    background: #a7aa9a;
    border: none;
    border-radius: 20px;
}
.service:hover {
    box-shadow: 10px 10px 5px 0 rgb(170, 167, 60);
}
.service-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}